In [8]:
import quandl
import pandas as pd

In [9]:
quandl.ApiConfig.api_key = 'e15L9gx4sy1fg7QrZ5XG'

In [10]:
df = quandl.get('FMAC/HPI_AK', authtoken = quandl.ApiConfig.api_key)

In [11]:
df.head()

                Value
Date
1975-01-31  34.447924
1975-02-28  34.958144
1975-03-31  35.480144
1975-04-30  36.024334
1975-05-31  36.617578

In [12]:
state_abbr = pd.read_html('https://simple.wikipedia.org/wiki/List_of_U.S._states')

In [14]:
state_abbr[0][0]

0     Abbreviation
1               AL
2               AK
3               AZ
4               AR
5               CA
6               CO
7               CT
8               DE
9               FL
10              GA
11              HI
12              ID
13              IL
14              IN
15              IA
16              KS
17              KY
18              LA
19              ME
20              MD
21              MA
22              MI
23              MN
24              MS
25              MO
26              MT
27              NE
28              NV
29              NH
30              NJ
31              NM
32              NY
33              NC
34              ND
35              OH
36              OK
37              OR
38              PA
39              RI
40              SC
41              SD
42              TN
43              TX
44              UT
45              VT
46              VA
47              WA
48              WV
49              WI
50              WY
Name: 0, dtype: object

In [24]:
for abbr in state_abbr[0][1]:
        print("FMAC/HPI_" + str(abbr))

FMAC/HPI_State Name
FMAC/HPI_Alabama
FMAC/HPI_Alaska
FMAC/HPI_Arizona
FMAC/HPI_Arkansas
FMAC/HPI_California
FMAC/HPI_Colorado
FMAC/HPI_Connecticut
FMAC/HPI_Delaware
FMAC/HPI_Florida
FMAC/HPI_Georgia
FMAC/HPI_Hawaii
FMAC/HPI_Idaho
FMAC/HPI_Illinois
FMAC/HPI_Indiana
FMAC/HPI_Iowa
FMAC/HPI_Kansas
FMAC/HPI_Kentucky
FMAC/HPI_Louisiana
FMAC/HPI_Maine
FMAC/HPI_Maryland
FMAC/HPI_Massachusetts
FMAC/HPI_Michigan
FMAC/HPI_Minnesota
FMAC/HPI_Mississippi
FMAC/HPI_Missouri
FMAC/HPI_Montana
FMAC/HPI_Nebraska
FMAC/HPI_Nevada
FMAC/HPI_New Hampshire
FMAC/HPI_New Jersey
FMAC/HPI_New Mexico
FMAC/HPI_New York
FMAC/HPI_North Carolina
FMAC/HPI_North Dakota
FMAC/HPI_Ohio
FMAC/HPI_Oklahoma
FMAC/HPI_Oregon
FMAC/HPI_Pennsylvania
FMAC/HPI_Rhode Island
FMAC/HPI_South Carolina
FMAC/HPI_South Dakota
FMAC/HPI_Tennessee
FMAC/HPI_Texas
FMAC/HPI_Utah
FMAC/HPI_Vermont
FMAC/HPI_Virginia
FMAC/HPI_Washington
FMAC/HPI_West Virginia
FMAC/HPI_Wisconsin
FMAC/HPI_Wyoming

In [20]:
states_new

'FMAC/HPI_Wyoming'